<app-header-lv2 heading="{{editando ? 'Edição' : 'Cadastro'}} de Secretaria" linkAnterior="/diversos/secretaria" headingAnterior="Secretaria"></app-header-lv2>
  <div class="ui-g">
    <form #f="ngForm" (ngSubmit)="salvar(f)" autocomplete="off">

      <div class="ui-g">

        <div class="ui-g-4 ui-fluid">
          <label>Nome*</label>
          <input type="text" pInputText required name="nome" #nome="ngModel" [(ngModel)]="secretaria.nome">
          <app-message [control]="nome" error="required" text="Preencha este campo."></app-message>
        </div>

      </div>

      <div class="ui-g-12">
        <button pButton type="submit" [disabled]="f.invalid || f.pristine" label="Salvar"></button>
      </div>

    </form>
  </div>
