<app-header-lv2 heading="Cadastro de Contas a Receber" linkAnterior="/financeiro/contas-receber"
      headingAnterior="Contas a Receber"></app-header-lv2>

<div class="col-md">
  <form #contasReceberForm="ngForm" (ngSubmit)="(contasReceberForm)" autocomplete="off">
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="descricao">Descrição</label>
          <input type="text" class="form-control" id="descricao"
                 required ngModel name="descricao" #descricao="ngModel">
          <app-message [control]="descricao" error="required" text="Preencha este campo."></app-message>
        </div>
        <div class="form-group col-md-2">
          <label for="grupo">Grupo de Recebimento</label>
          <select id="grupo" class="form-control">
            <option selected>Selecione:</option>
            <option *ngFor="let grupo of gruposRecebimentos" required>{{ grupo.label }}</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="categoria">Categoria</label>
          <input type="text" class="form-control" id="categoria" [typeahead]="categorias" typeaheadOptionField="label"
                 name="categoria" ngModel #categoria required>
        </div>
        <div class="form-group col-md-2">
          <label for="conta">Conta Bancária</label>
          <select id="conta" class="form-control">
            <option selected>Selecione:</option>
            <option *ngFor="let conta of contas" required>{{ conta.label }}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="competencia">Data de Competência</label>
          <input type="text" class="form-control" id="competencia" bsDatepicker
                 [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', locale: 'pt-br' }" placement="right"  required>
        </div>
        <div class="form-group col-md-2">
          <label for="vencimento">Data de Vencimento</label>
          <input type="text" class="form-control" id="vencimento" bsDatepicker
                 [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', locale: 'pt-br' }" required>
        </div>
        <div class="form-group col-md-6">
          <label for="cliente">Cliente</label>
          <input type="text" class="form-control" id="cliente" [typeahead]="clientes" typeaheadOptionField="label"
                 name="cliente" ngModel #cliente required>
        </div>
        <div class="form-group col-md-2">
          <label for="valor">Valor</label>
          <input type="text" class="form-control" id="valor" name="valor" ngModel #valor required
                 currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false }">
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Repetir?
          </label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="periodo">Período</label>
          <select id="periodo" class="form-control">
            <option selected>Selecione:</option>
            <option *ngFor="let periodo of periodos">{{ periodo.label }}</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="ocorrencia">Ocorrências</label>
          <input type="text" class="form-control" id="ocorrencia"
                 ngModel name="ocorrencia" #ocorrencia="ngModel">
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="contasReceberForm.invalid">Salvar</button>
  </form>
</div>

