<app-header-lv2 heading="{{editando ? 'Edição' : 'Cadastro'}} de Conta Caixa"
                headingAnterior="Conta Caixa" linkAnterior="/diversos/conta-caixa"></app-header-lv2>

<div class="col-md">
  <form #f="ngForm"(ngSubmit)="salvar(f)" autocomplete="off">

    <div class="ui-g">

      <div class="ui-g-2 ui-fluid">
        <label>Número</label>
        <input type="text" pInputText pKeyFilter="int" name="numero" [(ngModel)]="conta.numero">
      </div>

      <div class="ui-g-1 ui-fluid">
        <label>Dígito</label>
        <input type="text" pInputText name="digito" [(ngModel)]="conta.digito">
      </div>

      <div class="ui-g-3 ui-fluid">
        <label>Nome*</label>
        <input type="text" pInputText name="nome" #nome="ngModel" [(ngModel)]="conta.nome">
        <app-message [control]="nome" error="required" text="Preencha este campo."></app-message>
      </div>

      <div class="ui-g-2 ui-fluid">
        <label>Tipo</label>
        <p-dropdown name="tipo" [options]="tipos" [autoWidth]="false" placeholder="Selecione:"
                    [(ngModel)]="conta.tipo"></p-dropdown>
      </div>

      <div class="ui-g-2 ui-fluid">
        <label>Tx de Multa</label>
        <input type="text" name="tx_multa" pInputText [(ngModel)]="conta.taxa_multa">
      </div>

      <div class="ui-g-2 ui-fluid">
        <label>Tx de Juros</label>
        <input type="text" name="tx_juros" pInputText [(ngModel)]="conta.taxa_juros">
      </div>

      <div class="ui-g-5 ui-fluid">
        <label>Empresa*</label>
        <p-dropdown name="empresa" [options]="empresas" [autoWidth]="false" placeholder="Selecione:" required
                    [(ngModel)]="conta.empresa"></p-dropdown>
      </div>

      <div class="ui-g-3 ui-fluid">
        <label>Agência</label>
        <p-dropdown name="agencia" [options]="agencias" [autoWidth]="false" placeholder="Selecione:"
                    [(ngModel)]="conta.agencia"></p-dropdown>
      </div>

    </div>

      <div class="ui-g-12">
        <button pButton type="submit" [disabled]="f.invalid || f.pristine" label="Salvar"></button>
      </div>

  </form>
</div>
