<app-header-lv2 heading="{{editando ? 'Edição' : 'Cadastro'}} de Conta Caixa"
                headingAnterior="Conta Caixa" linkAnterior="/diversos/conta-caixa"></app-header-lv2>

<div class="col-md">
  <form (ngSubmit)="salvar()" autocomplete="off" [formGroup]="formulario">

    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="numero">Número</label>
        <input type="text" class="form-control" id="numero" formControlName="numero">
      </div>
      <div class="form-group col-md-1">
        <label for="digito">Dígito</label>
        <input type="text" class="form-control" id="digito" formControlName="digito">
      </div>
      <div class="form-group col-md-3">
        <label for="nome">Nome*</label>
        <input type="text" class="form-control" id="nome" formControlName="nome">
        <app-message [control]="formulario.get('nome')" error="required" text="Preencha este campo."></app-message>
      </div>
      <div class="form-group col-md-2">
        <label for="tipo">Tipo</label>
        <select class="custom-select" id="tipo" formControlName="tipo" [ngModel]="default">
          <option>{{default}}</option>
          <option [ngValue]="tipo" *ngFor="let tipo of tipos">{{tipo.nome}}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="multa">Tx de Multa</label>
        <input type="text" class="form-control" id="multa" formControlName="tx_multa">
      </div>
      <div class="form-group col-md-2">
        <label for="juros">Tx de Juros</label>
        <input type="text" class="form-control" id="juros" formControlName="tx_juros">
      </div>
    </div>
    <div class="form-group form-row">
      <div class="col-md-3 form-group" formGroupName="empresa">
        <label for="empresa">Empresa*</label>
        <select class="custom-select" id="empresa" formControlName="id" [ngModel]="default">
          <option [ngValue]="empresa.id" *ngFor="let empresa of empresas">{{empresa.nome}}</option>
        </select>
      </div>
      <div class="form-group col-md-3 form-group" formGroupName="agencia">
        <label for="agencia">Agência</label>
        <select class="custom-select" id="agencia" formControlName="id" [ngModel]="default">
          <option>{{default}}</option>
          <option [ngValue]="agencia.id" *ngFor="let agencia of agencias">{{agencia.nome}}</option>
        </select>
      </div>
    </div>
    {{formulario.value | json}}
    <button class="btn btn-primary" type="submit" [disabled]="formulario.invalid || formulario.pristine">Salvar</button>
  </form>
</div>
