<app-header-lv1 heading="Contas a Pagar"></app-header-lv1>


    <div class="ui-g">

      <div class="ui-g-4">
        <div class="card border-success mb-3">
          <div class="card-body text-success">
            <h5 class="card-title" style="text-align: center">R$ 4.900,17</h5>
            <footer style="text-align: center">Contas Pagas</footer>
          </div>
        </div>
      </div>
      <div class="ui-g-4">
        <div class="card border-info mb-3">
          <div class="card-body text-info">
            <h5 class="card-title" style="text-align: center">R$ 45.113,08</h5>
            <footer style="text-align: center">Contas a Pagar</footer>
          </div>
        </div>
      </div>
      <div class="ui-g-4">
        <div class="card border-danger mb-3">
          <div class="card-body text-danger">
            <h5 class="card-title" style="text-align: center">R$ 0,00</h5>
            <footer style="text-align: center">Contas Vencidas</footer>
          </div>
        </div>
      </div>

    </div>


  <div class="col-md">
    <div class="btn-toolbar clearfix" role="toolbar">

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-secondary fa fa-plus"
                pTooltip="Novo" tooltipPosition="top" routerLink="/financeiro/contas-pagar/novo"></button>
      </div>

      <div class="btn-group ml-2" role="group">
        <button type="button" class="btn btn-outline-secondary">Emitir cheque</button>
      </div>

      <div class="input-group ml-2 col-md-4">
        <select class="form-control" id="periodo">
          <option *ngFor="let p of periodos">{{p.label}}</option>
        </select>
      </div>

    </div>
  </div>

<div class="ui-g-12">
  <p-table [value]="contas" [paginator]="true" [responsive]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 30, 50]">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-table-left">Descrição</th>
        <th class="text-table-left">Fornecedor</th>
        <th style="width: 130px">Vencimento</th>
        <th style="width: 130px">Pagamento</th>
        <th style="width: 80px">Parcela</th>
        <th style="width: 110px">Valor</th>
        <th style="width: 110px">Situação</th>
        <th style="width: 80px"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-conta let-rowData>
      <tr>
        <td class="text-table-left">{{conta.descricao}}</td>
        <td class="text-table-left">{{conta.fornecedor.fantasia}}</td>
        <td>{{conta.dtVencimento | date: 'dd/MM/yyyy'}}</td>
        <td>{{conta.dtPagamento}}</td>
        <td>{{conta.ocorrencia}}</td>
        <td>{{conta.valor | number: '1.2-2'}}</td>
        <td>
            <span class="badge status-span"
                  [ngClass]="{'badge-success': conta.status === 'PAGA', 'badge-danger': conta.status === 'VENCIDA',
                'badge-info': conta.status === 'A VENCER'}">{{conta.status}}</span>
        </td>
        <td>
          <a href="javascript:void(0)" pTooltip="Editar" tooltipPosition="top"><i class="fa fa-pencil"></i></a>
          <a href="javascript:void(0)" pTooltip="Detalhes" tooltipPosition="top"><i class="fa fa-eye"></i></a>
          <a href="javascript:void(0)" pTooltip="Excluir" tooltipPosition="top"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="8" class="text-table-left">
          Nenhum registro encontrado.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
