<app-header-lv1 heading="Empresas"></app-header-lv1>
<app-button link="/instancias/empresa/novo"></app-button>

  <div class="ui-g-12">
    <p-table [value]="empresas" [responsive]="true">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-table-left">Razão Social</th>
          <th style="width: 250px">Nome Fantasia</th>
          <th style="width: 250px">CNPJ</th>
          <th style="width: 80px"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-empresa >
        <tr>
          <td class="text-table-left">{{empresa.razao}}</td>
          <td>{{empresa.fantasia}}</td>
          <td>{{empresa.cnpj}}</td>
          <td>
            <a href="javascript:void(0)" pTooltip="Editar" tooltipPosition="top"
            [routerLink]="['/instancias/empresa/editar', empresa.id]"><i class="fa fa-pencil"></i></a>
            <a href="javascript:void(0)" pTooltip="Detalhes" tooltipPosition="top"
            (click)="modalDetalhe.show(); mostrarDetalhe(empresa.id)"><i class="fa fa-eye"></i></a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="4" class="text-table-left">
            Nenhum registro encontrado.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

<div bsModal #modalDetalhe="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">{{empresa.fantasia | uppercase}}</h5>
        <button type="button" class="close pull-right" (click)="modalDetalhe.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8">
            <label>Razão Social</label>
            <p>{{empresa.razao | uppercase}}</p>
          </div>
          <div class="col-md-4">
            <label>CNPJ</label>
            <p>{{empresa.cnpj | cnpj}}</p>
          </div>
        </div>
      <!--  <div class="row">
          <div class="col-md-12">
            <label class="text-secondary">Contas Bancárias</label>
          </div>
        </div>
        <div class="row" *ngFor="let conta of empresa.contas">
          <div class="col-md-2">
            <label>Agencia</label>
            <p>{{conta.agencia}}</p>
          </div>
          <div class="col-md-2">
            <label>Conta</label>
            <p>{{conta.conta}}</p>
          </div>
          <div class="col-md-2">
            <label>Tipo</label>
            <p>{{conta.tipo}}</p>
          </div>
          <div class="col-md-2">
            <label>Banco</label>
            <p>{{conta.banco.nome}}</p>
          </div>
          <div class="col-md-4">
            <label>Descrição</label>
            <p>{{conta.descricao}}</p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

