<app-header-lv1 heading="Contas a Receber"></app-header-lv1>

  <div class="col-md">

    <div class="row">

      <div class="col-md-4">
        <div class="card border-success mb-3">
          <div class="card-body text-success">
            <h5 class="card-title" style="text-align: center">R$ 4.900,17</h5>
            <footer style="text-align: center">Contas Recebidas</footer>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-info mb-3">
          <div class="card-body text-info">
            <h5 class="card-title" style="text-align: center">R$ 45.113,08</h5>
            <footer style="text-align: center">Contas a Receber</footer>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-danger mb-3">
          <div class="card-body text-danger">
            <h5 class="card-title" style="text-align: center">R$ 0,00</h5>
            <footer style="text-align: center">Contas não Recebidas</footer>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="col-md">
    <div class="btn-toolbar clearfix" role="toolbar">

      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-success" routerLink="/financeiro/contas-receber/novo">Novo</button>
        <button type="button" dropdownToggle class="btn btn-success dropdown-toggle dropdown-toggle-split">
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem"><a class="dropdown-item" routerLink="/financeiro/contas-receber/novo-lote">Novo em lote</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/financeiro/contas-receber/novo-base-anterior">Novo com base em anterior</a>
          </li>
        </ul>
      </div>

      <div class="btn-group ml-2" role="group">
        <button type="button" class="btn btn-success fa fa-database"
        pTooltip="Gerar remessa" tooltipPosition="top"></button>
      </div>

      <div class="input-group ml-2 col-md-3">
        <select class="form-control" id="periodo">
          <option *ngFor="let p of periodos">{{p.label}}</option>
        </select>
      </div>
      <div class="input-group col-md-2">
        <select class="form-control" id="filtroStatus">
          <option *ngFor="let f of filtroStatus">{{f.label}}</option>
        </select>
      </div>

      <div class="input-group col-md-5">
        <input type="text" class="form-control" placeholder="Descrição">
      </div>

    </div>
  </div>

  <div class="col-md mt-1">
      <p-table [value]="recebimentos" [responsive]="true" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
      [rows]="10" dataKey="id">
          <ng-template pTemplate="header">
              <tr>
                  <th style="width: 6.4em">Emissão</th>
                  <th style="width: 6.4em">Vencimento</th>
                  <th style="width: 4em">Ref.</th>
                  <th style="width: 7em">Recebimento</th>
                  <th class="text-table-left">Cliente</th>
                  <th style="width: 11em">Descrição</th>
                  <th style="width: 6.4em">Valor</th>
                  <th style="width: 6.4em">Recebido</th>
                  <th style="width: 7em">Situação</th>
                  <th style="width: 90px"></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-recebimento let-rowData>
              <tr>
                  <td>{{recebimento.dtEmissao | date: 'dd/MM/yyyy'}}</td>
                  <td>{{recebimento.dtVencimento | date: 'dd/MM/yyyy'}}</td>
                  <td>{{recebimento.referencia}}</td>
                  <td>{{recebimento.dtRecebimento | date: 'dd/MM/yyyy'}}</td>
                  <td class="text-table-left">{{recebimento.cliente.nome | uppercase}}</td>
                  <td>{{recebimento.descricao}}</td>
                  <td>{{recebimento.valor | number:'1.2-2'}}</td>
                  <td>{{recebimento.recebido}}</td>
                  <td>
                      <span class="badge status-span"
                            [ngClass]="{'badge-info': recebimento.situacao.nome === 'A VENCER', 'badge-success': recebimento.situacao.nome === 'PAGA',
                'badge-danger': recebimento.situacao.nome === 'VENCIDA'}">{{recebimento.situacao.nome}}</span>
                  </td>
                  <td>
                    <a href="javascript:void(0)" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/financeiro/contas-receber/editar', recebimento.id]"><i class="fa fa-pencil"></i></a>
                    <a href="javascript:void(0)" pTooltip="Emitir boleto" tooltipPosition="top"><i class="fa fa-barcode"></i></a>
                    <a href="javascript:void(0)" pTooltip="Enviar boleto por e-mail" tooltipPosition="left"><i class="fa fa-share-square"></i></a>
                    <a href="javascript:void(0)" pTooltip="Excluir" tooltipPosition="top"
                       (click)="openModal(modalExclusao, recebimento.id)"><i class="fa fa-trash"></i></a>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="10" class="text-table-left">
                Nenhum registro encontrado.
              </td>
            </tr>
          </ng-template>
      </p-table>
  </div>
<ng-template #modalExclusao>
  <div class="modal-body text-center">
    <p>Deseja realmente excluir o registro?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
