<app-header-lv2 heading="{{editando ? 'Edição' : 'Cadastro'}} de Convênio" linkAnterior="/diversos/convenio" headingAnterior="Convênios"></app-header-lv2>
  <div class="col-md">
    <form #f="ngForm" (ngSubmit)="salvar(f)" autocomplete="off">

      <div class="ui-g">

        <div class="ui-g-4 ui-fluid">
          <label>Nome*</label>
          <input type="text" pInputText required name="nome" #nome="ngModel" [(ngModel)]="convenio.nome">
          <app-message [control]="nome" error="required" text="Preencha este campo."></app-message>
        </div>

        <div class="ui-g-4 ui-fluid">
          <label>Número*</label>
          <input type="text" pInputText pKeyFilter="int" required name="numero" #numero="ngModel" [(ngModel)]="convenio.numero">
          <app-message [control]="numero" error="required" text="Preencha este campo."></app-message>
        </div>

        <div class="ui-g-4 ui-fluid">
          <label>Telefone</label>
          <p-inputMask type="text" mask="(99) 9999?9-9999" [(ngModel)]="convenio.telefone" name="telefone"></p-inputMask>
        </div>

        <div class="ui-g-12 ui-fluid">
          <label>Observação</label>
          <textarea pInputTextarea [(ngModel)]="convenio.observacao" name="observacao"></textarea>
        </div>

      </div>

      <div class="ui-g-12">
        <button pButton type="submit" [disabled]="f.invalid || f.pristine" label="Salvar"></button>
      </div>

    </form>
  </div>
