<app-header-lv1 heading="Clientes"></app-header-lv1>

<div class="col-md">
  <div class="btn-toolbar clearfix" role="toolbar">

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-secondary fa fa-plus"
              pTooltip="Novo" tooltipPosition="top" routerLink="/instancias/cliente/novo"></button>
    </div>

  </div>
</div>

  <div class="col-md mt-1">
    <p-table [value]="clientes" [paginator]="true" [responsive]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 30, 50]">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-table-left">Nome</th>
          <th style="width: 150px">CPF</th>
          <th class="text-table-left">E-mail</th>
          <th style="width: 110px">Situação</th>
          <th style="width: 80px"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cliente >
        <tr>
          <td class="text-table-left">{{cliente.nome}}</td>
          <td>{{cliente.cpf}}</td>
          <td class="text-table-left">{{cliente.email}}</td>
          <td>
            <span class="badge status-span"
                  [ngClass]="{'badge-success': cliente.situacao === 'EM DIA', 'badge-danger': cliente.situacao === 'CANCELADO',
                'badge-warning': cliente.situacao === 'INADIMPLENTE'}">{{cliente.situacao}}</span>
          </td>
          <td>
            <a href="javascript:void(0)" pTooltip="Ativar" tooltipPosition="top"><i class="fa fa-check"
              *ngIf="cliente.situacao === 'CANCELADO'"></i></a>
            <a href="javascript:void(0)" pTooltip="Editar" tooltipPosition="top"
            [routerLink]="['/instancias/cliente/editar', cliente.id]"><i class="fa fa-pencil"></i></a>
            <a href="javascript:void(0)" pTooltip="Detalhes" tooltipPosition="top"><i class="fa fa-eye"></i></a>
            <a href="javascript:void(0)" pTooltip="Cancelar" tooltipPosition="top"><i class="fa fa-ban"
              *ngIf="cliente.situacao === 'EM DIA' || cliente.situacao === 'INADIMPLENTE'"
            (click)="prepararCancelamento(cliente)"></i></a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5" class="text-table-left">
            Nenhum registro encontrado.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

<p-dialog header="Cancelamento">

</p-dialog>
