<app-header-lv1 heading="Clientes"></app-header-lv1>

<div class="col-md">
  <div class="btn-toolbar clearfix" role="toolbar">

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-secondary fa fa-plus"
              pTooltip="Novo" tooltipPosition="top" routerLink="/instancias/cliente/novo"></button>
    </div>

  </div>
</div>

  <div class="col-md mt-1">
    <p-table [value]="clientes" [paginator]="true" [responsive]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 30, 50]">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-table-left">Nome</th>
          <th style="width: 150px">CPF</th>
          <th class="text-table-left">E-mail</th>
          <th style="width: 110px">Situação</th>
          <th style="width: 80px"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cliente >
        <tr>
          <td class="text-table-left">{{cliente.nome}}</td>
          <td>{{cliente.cpf}}</td>
          <td class="text-table-left">{{cliente.email}}</td>
          <td>
            <span class="badge status-span"
                  [ngClass]="{'badge-success': cliente.situacao === 'EM DIA', 'badge-danger': cliente.situacao === 'CANCELADO',
                'badge-warning': cliente.situacao === 'INADIMPLENTE'}">{{cliente.situacao}}</span>
          </td>
          <td>
            <a href="javascript:void(0)" pTooltip="Ativar" tooltipPosition="top"><i class="fa fa-check"
              *ngIf="cliente.situacao === 'CANCELADO'"></i></a>
            <a href="javascript:void(0)" pTooltip="Editar" tooltipPosition="top"
            [routerLink]="['/instancias/cliente/editar', cliente.id]"><i class="fa fa-pencil"></i></a>
            <a href="javascript:void(0)" pTooltip="Detalhes" tooltipPosition="top"><i class="fa fa-eye"></i></a>
            <a href="javascript:void(0)" pTooltip="Cancelar" tooltipPosition="top"><i class="fa fa-ban"
              *ngIf="cliente.situacao === 'EM DIA' || cliente.situacao === 'INADIMPLENTE'"
            (click)="prepararCancelamento(cliente.id)"></i></a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5" class="text-table-left">
            Nenhum registro encontrado.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

<p-dialog header="Cancelamento" [(visible)]="exibindoFormularioCancelamento"
[modal]="modal" *ngIf="cliente">

    <form #f="ngForm" (ngSubmit)="cancelarCliente(f)" autocomplete="off">

      <div class="ui-md-12 ui-fluid">
        <label>{{cliente.nome}}</label>
      </div>

      <div class="ui-md-6 ui-fluid">
        <label>Data do Cancelamento*</label>
        <p-calendar dateFormat="dd/mm/yy" [locale]="pt" [showIcon]="true" name="dataCancelamento" required
                    [(ngModel)]="cliente.cancelado.dataCancelamento"></p-calendar>
      </div>

      <div class="ui-md-6 ui-fluid">
        <label>Data da Solicitação*</label>
        <p-calendar dateFormat="dd/mm/yy" [locale]="pt" [showIcon]="true" name="dataPedido" required
                    [(ngModel)]="cliente.cancelado.dataPedido"></p-calendar>
      </div>

      <div class="ui-md-6 ui-fluid">
        <label>Motivo*</label>
        <p-dropdown [options]="motivos" [autoWidth]="false" name="motivo" required
                    [(ngModel)]="cliente.cancelado.motivo" placeholder="Selecione: "></p-dropdown>
      </div>

      <div class="ui-md-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea name="obs" [(ngModel)]="cliente.cancelado.obs"></textarea>
      </div>

      <div class="ui-md-12">
        <button pButton type="submit" label="Confirmar" [disabled]="f.invalid"></button>
      </div>

    </form>

</p-dialog>
