<app-header-lv2 heading="{{editando ? 'Edição' : 'Cadastro'}} de Status Parcela" headingAnterior="Status Parcela" linkAnterior="/diversos/status-parcela"></app-header-lv2>
  <div class="col-md">
    <form #statusForm="ngForm" (ngSubmit)="salvar(statusForm)" autocomplete="off">

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="nome">Situação*</label>
          <input type="text" class="form-control" id="nome" required name="nome" #nome="ngModel" ngModel
                 [(ngModel)]="statusParcela.situacao">
          <app-message [control]="nome" error="required" text="Preencha este campo."></app-message>
        </div>
        <div class="col-md-4 mb-3">
          <label for="desc">Descrição</label>
          <input type="text" class="form-control" id="desc" name="descricao" #descricao="ngModel" ngModel
                 [(ngModel)]="statusParcela.descricao">
        </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="statusForm.invalid">Salvar</button>
    </form>
  </div>
