<app-header-lv2 heading="Cadastro de Categoria de Recebimento" linkAnterior="/diversos/categoria-recebimento" headingAnterior="Categorias de Recebimentos"></app-header-lv2>
<div class="col-md">
  <form #categoriaRecebimentoForm="ngForm" (ngSubmit)="salvar(categoriaRecebimentoForm)" autocomplete="off">

    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="nome">Nome*</label>
        <input type="text" class="form-control" id="nome" required name="nome" #nome="ngModel" ngModel>
        <app-message [control]="nome" error="required" text="Preencha este campo."></app-message>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="categoriaRecebimentoForm.invalid">Salvar</button>
  </form>
</div>
