<app-header-lv2 heading="Cadastro de Fornecedor" linkAnterior="/instancias/fornecedor" headingAnterior="Fornecedores"></app-header-lv2>
  <div class="col-md">
      <form #fornecedorForm="ngForm" (ngSubmit)="(fornecedorForm)" autocomplete="off">

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="cnpj">CNPJ</label>
            <input type="text" class="form-control" id="cnpj" ngModel name="cnpj" #cnpj="ngModel" mask="99.999.999/9999-99">
          </div>
          <div class="form-group col-md-5">
            <label for="razao">Razão Social*</label>
            <input type="text" class="form-control" id="razao" required ngModel name="razao" #razao="ngModel">
            <app-message [control]="razao" error="required" text="Preencha este campo."></app-message>
          </div>
          <div class="form-group col-md-4">
            <label for="fantasia">Nome Fantasia*</label>
            <input type="text" class="form-control" id="fantasia" required ngModel name="fantasia" #fantasia="ngModel">
            <app-message [control]="fantasia" error="required" text="Preencha este campo."></app-message>
          </div>
          <div class="form-group col-md-5">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" ngModel name="email">
          </div>
          <div class="form-group col-md-3">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" id="telefone" ngModel name="telefone" #telefone="ngModel">
          </div>
          <div class="form-group col-md-4">
            <label for="contato">Contato</label>
            <input type="text" class="form-control" id="contato" required ngModel name="contato">
          </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="fornecedorForm.invalid">Salvar</button>
      </form>
    </div>
