<app-header-lv2 heading="Cadastro de Contas a Pagar" linkAnterior="/financeiro/contas-pagar"
                  headingAnterior="Contas a Pagar"></app-header-lv2>

<div class="ui-g">
  <form #f="ngForm" (ngSubmit)="salvar(f)" autocomplete="off">

    <div class="ui-g-4 ui-md-4 ui-fluid">
      <label>Descrição</label>
      <input type="text" pInputText name="descricao" #descricao="ngModel" required [(ngModel)]="pagamento.descricao">

      <app-message [control]="descricao" error="required" text="Preencha este campo."></app-message>
    </div>

    <div class="ui-g-4 ui-md-4 ui-fluid">
      <label>Fornecedor</label>
      <p-dropdown [options]="fornecedores" name="cliente" [(ngModel)]="pagamento.fornecedor.id"
                  [autoWidth]="false" placeholder="Selecione:" [filter]="true"></p-dropdown>
    </div>

    <div class="ui-g-2 ui-md-2 ui-fluid">
      <label>Número NF</label>
      <input type="text" pInputText name="numNF" [(ngModel)]="pagamento.numNf">
    </div>

    <div class="ui-g-2 ui-md-2 ui-fluid">
      <label>Documento</label>
      <input type="text" pInputText name="documento" [(ngModel)]="pagamento.documento">
    </div>

    <div class="ui-g-2 ui-md-2 ui-fluid">
      <label>Competência</label>
      <p-calendar name="competencia" dateFormat="dd/mm/yy"
                  [inline]="false" [readonlyInput]="false" [showIcon]="true"
                  [(ngModel)]="pagamento.dtCompetencia" [locale]="pt"
                  #competencia="ngModel" required showButtonBar="true"></p-calendar>

      <app-message [control]="competencia" error="required"
                   text="Informe uma data de competência"></app-message>
    </div>

    <div class="ui-g-2 ui-md-2 ui-fluid">
      <label>Vencimento</label>
      <p-calendar name="vencimento" dateFormat="dd/mm/yy"
                  [inline]="false" [readonlyInput]="false" [showIcon]="true"
                  [(ngModel)]="pagamento.dtVencimento" [locale]="pt"
                  #vencimento="ngModel" required></p-calendar>

      <app-message [control]="vencimento" error="required"
                   text="Informe uma data de vencimento"></app-message>
    </div>

    <div class="ui-g-3 ui-md-3 ui-fluid">
      <label>Categoria</label>
      <p-dropdown [options]="categorias" name="categoria" [(ngModel)]="pagamento.categoria.id"
                  [autoWidth]="false" placeholder="Selecione:" [filter]="true"></p-dropdown>
    </div>

    <div class="ui-g-3 ui-md-3 ui-fluid">
      <label>Conta Bancária</label>
      <p-dropdown [options]="contas" name="conta" [(ngModel)]="pagamento.conta.id"
                  [autoWidth]="false" placeholder="Selecione:"></p-dropdown>
    </div>

    <div class="ui-g-2 ui-md-2 ui-fluid">
      <label>Valor</label>
      <input type="text" pInputText name="valor" #valor="ngModel" required [(ngModel)]="pagamento.valor"
             currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false }">

      <app-message [control]="valor" error="required" text="Preencha este campo."></app-message>
    </div>

    <div class="ui-g-12 ui-md-12">
      <p-checkbox name="repetir" value="repetir" label="Repetir?" #repetir></p-checkbox>
    </div>

    <div class="ui-g-2 ui-fluid">
      <label>Período</label>
      <p-dropdown [options]="periodos" name="periodo" [autoWidth]="false"
                  [disabled]="!repetir.checked" required></p-dropdown>
    </div>

    <div class="ui-g-2 ui-fluid">
      <label>Ocorrências</label>
      <input type="text" pInputText name="ocorrencia" [(ngModel)]="pagamento.referecia"
             [disabled]="!repetir.checked" required>
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
    </div>

  </form>
</div>
