<app-header-lv2 heading="Cadastro de Contas a Pagar" linkAnterior="/financeiro/contas-pagar"
                  headingAnterior="Contas a Pagar"></app-header-lv2>

<div class="col-md">
  <form #contasPagarForm="ngForm" autocomplete="off" (ngSubmit)="salvar(contasPagarForm)">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="descricao">Descrição</label>
        <input type="text" class="form-control" id="descricao"
               required ngModel name="descricao" #descricao="ngModel">
        <app-message [control]="descricao" error="required" text="Preencha este campo."></app-message>
      </div>
      <div class="form-group col-md-3">
        <label for="categoria">Categoria</label>
        <input type="text" class="form-control" id="categoria" [typeahead]="categorias" typeaheadOptionField="nome"
               name="categoria" ngModel #categoria required>
      </div>
      <div class="form-group col-md-3">
        <label for="conta">Conta Bancária</label>
        <select id="conta" class="form-control">
          <option selected>Selecione:</option>
          <option *ngFor="let conta of contas" required>{{ conta.label }}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="competencia">Data de Competência</label>
        <div class="input-group mb-2">
          <input type="text" class="form-control" id="competencia" required name="competencia" #competencia="ngModel" ngModel
                 bsDatepicker #dpCompetencia="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', locale: 'pt-br' }" placement="right">
          <div class="input-group-append">
            <button class="input-group-append btn btn-primary fa fa-calendar" (click)="dpCompetencia.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="form-group col-md-2">
        <label for="vencimento">Data de Vencimento</label>
        <div class="input-group mb-2">
          <input type="text" class="form-control" id="vencimento" required name="vencimento" #vencimento="ngModel" ngModel
                 bsDatepicker #dpVencimento="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', locale: 'pt-br' }">
          <div class="input-group-append">
            <button class="input-group-append btn btn-primary fa fa-calendar" (click)="dpVencimento.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="fornecedor">Fornecedor</label>
        <input type="text" class="form-control" id="fornecedor" [typeahead]="fornecedores" typeaheadOptionField="fantasia"
               name="fornecedor" ngModel #fornecedor required>
      </div>
      <div class="form-group col-md-2">
        <label for="valor">Valor</label>
        <input type="text" class="form-control" id="valor" name="valor" ngModel #valor required
               currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false }">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="repetir" #repetir>
        <label class="form-check-label" for="repetir">
          Repetir?
        </label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="periodo">Período</label>
        <select id="periodo" class="form-control" [disabled]="!repetir.checked">
          <option selected>Selecione:</option>
          <option *ngFor="let periodo of periodos">{{ periodo.label }}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="ocorrencia">Ocorrências</label>
        <input type="text" class="form-control" id="ocorrencia"
               ngModel name="ocorrencia" #ocorrencia="ngModel" [disabled]="!repetir.checked">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="contasPagarForm.invalid">Salvar</button>
    {{contasPagarForm.value | json}}
  </form>
</div>
