<app-header-lv2 linkAnterior="/instancias/cliente" heading="Cadastro de Cliente"
                headingAnterior="Clientes"></app-header-lv2>

<div class="ui-g">
  <form #f="ngForm" (ngSubmit)="salvar(f)" autocomplete="off">

      <div class="ui-g">

        <div class="ui-g-2 ui-md-2 ui-fluid">
          <label>CPF*</label>
          <p-inputMask mask="999.999.999-99" name="cpf" [(ngModel)]="cliente.cpf" required #cpf="ngModel"></p-inputMask>
          <app-message [control]="cpf" error="required" text="Preencha o CPF"></app-message>
        </div>

        <div class="ui-g-2 ui-md-2 ui-fluid">
          <label for="rg">RG</label>
          <input type="text" pInputText id="rg" name="rg" [(ngModel)]="cliente.rg">
        </div>

        <div class="ui-g-4 ui-md-4 ui-fluid">
          <label for="nome">Nome*</label>
          <input type="text" pInputText id="nome"
                 required name="nome" #nome="ngModel" [(ngModel)]="cliente.nome">
          <app-message [control]="nome" error="required" text="Preencha este campo."></app-message>
        </div>

        <div class="ui-g-2 ui-md-2 ui-fluid">
          <label>Data de Nascimento</label>
          <p-calendar name="nascimento" dateFormat="dd/mm/yy"
                      [inline]="false" [readonlyInput]="false" [showIcon]="true"
                      [(ngModel)]="cliente.nascimento" [locale]="pt"
                      #nascimento="ngModel" required
                      [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>

          <app-message [control]="nascimento" error="required"
                       text="Informe uma data de nascimento"></app-message>
        </div>

        <div class="ui-g-2 ui-md-2 ui-fluid">
          <label>Sexo</label>
          <p-dropdown [options]="sexos" placeholder="Selecione: " name="sexo" required [(ngModel)]="cliente.sexo"
          [autoWidth]="false"></p-dropdown>
        </div>

      </div>

      <div class="ui-g">

        <div class="ui-g-3 ui-md-3 ui-fluid">
          <label>Nome do Pai</label>
          <input type="text" pInputText name="pai" [(ngModel)]="cliente.pai">
        </div>

        <div class="ui-g-3 ui-md-3 ui-fluid">
          <label>Nome da Mãe</label>
          <input type="text" pInputText name="mae" [(ngModel)]="cliente.mae">
        </div>

        <div class="ui-g-2 ui-md-2 ui-fluid">
          <label>Estado Civil</label>
          <p-dropdown [options]="estCivil" placeholder="Selecione: " [autoWidth]="false" name="estadoCivil"
                      [(ngModel)]="cliente.estadoCivil" required></p-dropdown>
        </div>

        <div class="ui-g-2 ui-md-2 ui-fluid">
          <label>Tipo de Sócio</label>
          <p-dropdown [options]="tiposSocios" placeholder="Selecione: " [autoWidth]="false" name="tipo"
                      [(ngModel)]="cliente.tipo" required></p-dropdown>
        </div>

        <div class="ui-g-2 ui-md-2 ui-fluid">
          <label>Secretaria</label>
          <p-dropdown [options]="secretarias" placeholder="Selecione: " [autoWidth]="false" name="grupo"
                      [(ngModel)]="cliente.grupo.id"></p-dropdown>
        </div>

        <div class="ui-g-2 ui-md-2 ui-fluid">
          <label>Grupo</label>
          <p-dropdown [options]="grupos" placeholder="Selecione: " [autoWidth]="false" name="secretaria"
                      [(ngModel)]="cliente.secretaria.id" required></p-dropdown>
        </div>

        <div class="ui-g-3 ui-md-3 ui-fluid">
          <label>Número de Averbação</label>
          <input type="text" pInputText name="num_averbacao" [(ngModel)]="cliente.numAverbacao">
        </div>

        <div class="ui-g-3 ui-md-3 ui-fluid">
          <label>Matrícula</label>
          <input type="text" pInputText name="matricula" [(ngModel)]="cliente.matricula">
        </div>

        <div class="ui-g-12 ui-md-12 ui-fluid">
          <label>Observação</label>
          <textarea pInputTextarea name="obs" [(ngModel)]="cliente.obs"></textarea>
        </div>

      </div>

      <div class="ui-g-12 ui-md-12">
        <tabset>
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-address-book"></i> Contato
            </ng-template>
            <div class="ui-g">

              <div class="ui-g-12 col-md-12 ui-fluid">
                <label>E-mail</label>
                <input pInputText type="email" name="email" [(ngModel)]="cliente.email">
              </div>

            </div>

            <div class="ui-g" ngModelGroup="endereco">

              <div class="ui-g-2 col-md-2 ui-fluid">
                <label>CEP*</label>
                <p-inputMask id="cep" mask="99.999-999"
                (onBlur)="consultaCep($event.target.value, f)" name="cep" #cep="ngModel"
                             required [(ngModel)]="cliente.endereco.cep"></p-inputMask>
              </div>

              <div class="ui-g-6 col-md-6 ui-fluid">
                <label>Logradouro*</label>
                <input type="text" pInputText name="logradouro" #logradouro="ngModel" [(ngModel)]="cliente.endereco.logradouro"
                       required>
              </div>

              <div class="ui-g-2 col-md-2 ui-fluid">
                <label>Número*</label>
                <input type="text" pInputText name="numero" #numero="ngModel" [(ngModel)]="cliente.endereco.numero"
                       required pKeyFilter="int">
              </div>

              <div class="ui-g-2 col-md-2 ui-fluid">
                <label>Complemento</label>
                <input type="text" pInputText name="complemento" #complemento="ngModel" [(ngModel)]="cliente.endereco.complemento">
              </div>

              <div class="ui-g-5 col-md-5 ui-fluid">
                <label>Bairro*</label>
                <input type="text" pInputText name="bairro" #bairro="ngModel" [(ngModel)]="cliente.endereco.bairro"
                       required>
              </div>

              <div class="ui-g-5 col-md-5 ui-fluid">
                <label>Cidade*</label>
                <input type="text" pInputText name="cidade" #cidade="ngModel" [(ngModel)]="cliente.endereco.cidade"
                       required>
              </div>

              <div class="ui-g-2 col-md-2 ui-fluid">
                <label>Estado*</label>
                <input type="text" pInputText name="estado" #estado="ngModel"
                       [(ngModel)]="cliente.endereco.estado" required>
              </div>

            </div>
            <app-cliente-data-telefone [telefones]="cliente.telefones"></app-cliente-data-telefone>

          </tab>
          <tab>
            <ng-template tabHeading>
              <i class="fa fa-credit-card"></i> Dados Bancários
            </ng-template>

            <div class="ui-g-12">
              <div class="ui-g">
                <p-selectButton [options]="tiposDadosBancarios" [(ngModel)]="cliente.dadosBancarios.tipo"
                name="tipoDadoBancario" required></p-selectButton>
              </div>
            </div>

            <div class="ui-g-12">
              <p-panel header="Débito em Conta">
                <div class="ui-g">
                  <div class="ui-g-2 ui-md-2 ui-fluid">
                    <label>Agência</label>
                    <input type="text" pInputText name="agencia" [(ngModel)]="cliente.dadosBancarios.agencia" required
                    [disabled]="cliente.dadosBancarios.tipo === 'FATURA' || cliente.dadosBancarios.tipo === 'BOLETO'"
                           pKeyFilter="int">
                  </div>

                  <div class="ui-g-1 ui-md-1 ui-fluid">
                    <label>Dígito</label>
                    <input type="text" pInputText name="agenciaDigito" [(ngModel)]="cliente.dadosBancarios.agenciaDigito" required
                           [disabled]="cliente.dadosBancarios.tipo === 'FATURA' || cliente.dadosBancarios.tipo === 'BOLETO'"
                           pKeyFilter="int">
                  </div>

                  <div class="ui-g-2 ui-md-2 ui-fluid">
                    <label>Conta</label>
                    <input type="text" pInputText name="conta" [(ngModel)]="cliente.dadosBancarios.conta" required
                           [disabled]="cliente.dadosBancarios.tipo === 'FATURA' || cliente.dadosBancarios.tipo === 'BOLETO'"
                           pKeyFilter="int">
                  </div>

                  <div class="ui-g-1 ui-md-1 ui-fluid">
                    <label>Dígito</label>
                    <input type="text" pInputText name="contaDigito" [(ngModel)]="cliente.dadosBancarios.contaDigito" required
                           [disabled]="cliente.dadosBancarios.tipo === 'FATURA' || cliente.dadosBancarios.tipo === 'BOLETO'">
                  </div>

                  <div class="ui-g-3 ui-md-3 ui-fluid">
                    <label>Banco</label>
                    <p-dropdown [options]="bancos" [autoWidth]="false" placeholder="Selecione: " required name="banco"
                                [(ngModel)]="cliente.dadosBancarios.banco.id"
                                [disabled]="cliente.dadosBancarios.tipo === 'FATURA' || cliente.dadosBancarios.tipo === 'BOLETO'"></p-dropdown>
                  </div>
                </div>
              </p-panel>
            </div>

            <div class="ui-g-12">
              <p-panel header="Cartão de Crédito">
                <div class="ui-g">
                  <div class="ui-g-3 ui-md-3 ui-fluid">
                    <label>Número do Cartão</label>
                    <p-inputMask mask="9999.9999.9999.9999" name="numeroCartao" [(ngModel)]="cliente.dadosBancarios.numeroCartao"
                                 required
                                 [disabled]="cliente.dadosBancarios.tipo === 'DEBITO' || cliente.dadosBancarios.tipo === 'BOLETO'"></p-inputMask>
                  </div>

                  <div class="ui-g-2 ui-md-2 ui-fluid">
                    <label>Mês</label>
                    <p-dropdown [options]="meses" [autoWidth]="false" placeholder="Selecione: " name="mes"
                                [(ngModel)]="cliente.dadosBancarios.mes" required
                                [disabled]="cliente.dadosBancarios.tipo === 'DEBITO' || cliente.dadosBancarios.tipo === 'BOLETO'"></p-dropdown>
                  </div>

                  <div class="ui-g-2 ui-md-2 ui-fluid">
                    <label>Ano</label>
                    <p-dropdown [options]="anos" [autoWidth]="false" placeholder="Selecione: " name="ano"
                                [(ngModel)]="cliente.dadosBancarios.ano" required
                                [disabled]="cliente.dadosBancarios.tipo === 'DEBITO' || cliente.dadosBancarios.tipo === 'BOLETO'"></p-dropdown>
                  </div>

                  <div class="ui-g-2 ui-md-2 ui-fluid">
                    <label>Operadora</label>
                    <p-dropdown [options]="operadoras" [autoWidth]="false" placeholder="Selecione: " name="operadora"
                                [(ngModel)]="cliente.dadosBancarios.operadora.id" required
                                [disabled]="cliente.dadosBancarios.tipo === 'DEBITO' || cliente.dadosBancarios.tipo === 'BOLETO'"></p-dropdown>
                  </div>

                </div>
              </p-panel>
            </div>

          </tab>
          <tab>
            <ng-template tabHeading>
              <i class="fa fa-users"></i> Dependentes
            </ng-template>
            <app-cliente-data-dependente [dependentes]="cliente.dependentes"></app-cliente-data-dependente>

          </tab>
        </tabset>
    </div>
    <div class="ui-g-12">
      <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
    </div>
  </form>
</div>
