<app-header-lv2 linkAnterior="/instancias/cliente" heading="Cadastro de Cliente"
                headingAnterior="Clientes"></app-header-lv2>

<div class="col-md">
  <form #clienteForm="ngForm" (ngSubmit)="(clienteForm)" autocomplete="off">
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="cpf">CPF</label>
        <input type="text" class="form-control" id="cpf"
               required ngModel name="cpf" #cpf="ngModel" mask="999.999.999-99">
        <app-message [control]="cpf" error="required" text="Preencha este campo."></app-message>
      </div>
      <div class="form-group col-md-2">
        <label for="rg">RG</label>
        <input type="text" class="form-control" id="rg" #rg="ngModel" name="rg" ngModel>
      </div>
      <div class="form-group col-md-4">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome"
               required ngModel name="nome" #nome="ngModel">
        <app-message [control]="nome" error="required" text="Preencha este campo."></app-message>
      </div>
      <div class="col-md-2">
        <label for="nascimento">Data de Nascimento</label>
        <div class="input-group mb-2">
          <input type="text" class="form-control" id="nascimento" name="nascimento" #nascimento="ngModel" ngModel
                 bsDatepicker #dp="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', locale: 'pt-br' }" placement="bottom">
            <div class="input-group-append">
              <button class="input-group-append btn btn-primary fa fa-calendar" (click)="dp.toggle()"></button>
          </div>
        </div>
      </div>
      <div class="form-group col-md-2">
        <label for="civil">Estado Civil</label>
        <select id="civil" class="form-control">
          <option selected>Selecione:</option>
          <option *ngFor="let c of estCivil">{{ c.label }}</option>
        </select>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="pai">Nome do Pai</label>
        <input type="text" class="form-control" id="pai" #pai="ngModel" name="pai" ngModel>
      </div>
      <div class="form-group col-md-3">
        <label for="mae">Nome da Mãe</label>
        <input type="text" class="form-control" id="mae" #mae="ngModel" name="mae" ngModel>
      </div>
      <div class="form-group col-md-2">
        <label for="sexo">Sexo</label>
        <select id="sexo" class="form-control">
          <option selected>Selecione:</option>
          <option *ngFor="let sex of sexos">{{ sex.label }}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="tpSocio">Tipo de Sócio</label>
        <select id="tpSocio" class="form-control">
          <option selected>Selecione:</option>
          <option *ngFor="let tp of tiposSocios">{{ tp.label }}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="sec">Secretaria</label>
        <select id="sec" class="form-control">
          <option selected>Selecione:</option>
          <option *ngFor="let sec of secretarias">{{ sec.label }}</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="obs">Observação</label>
        <textarea class="form-control" id="obs" rows="2" name="obs" #obs="ngModel" ngModel></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="foto">Foto</label>
        <input type="text" id="foto" class="form-control">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <tabset>
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-address-book"></i> Contato
            </ng-template>

          </tab>
          <tab>
            <ng-template tabHeading>
              <i class="fa fa-credit-card"></i> Dados Bancários
            </ng-template>

          </tab>
          <tab>
            <ng-template tabHeading>
              <i class="fa fa-users"></i> Dependentes
            </ng-template>

          </tab>
        </tabset>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md">
        <button type="submit" class="btn btn-primary" [disabled]="clienteForm.invalid">Salvar</button>
      </div>
    </div>
  </form>
</div>
