<app-header-lv2 linkAnterior="/instancias/cliente" heading="Cadastro de Cliente"
                headingAnterior="Clientes"></app-header-lv2>

<div class="col-md">
  <form #clienteForm="ngForm" (ngSubmit)="salvar(clienteForm)" autocomplete="off">
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="cpf">CPF</label>
        <input type="text" class="form-control" id="cpf"
               required ngModel name="cpf" #cpf="ngModel" mask="999.999.999-99">
        <app-message [control]="cpf" error="required" text="Preencha este campo."></app-message>
      </div>
      <div class="form-group col-md-2">
        <label for="rg">RG</label>
        <input type="text" class="form-control" id="rg" #rg="ngModel" name="rg" ngModel>
      </div>
      <div class="form-group col-md-4">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome"
               required ngModel name="nome" #nome="ngModel">
        <app-message [control]="nome" error="required" text="Preencha este campo."></app-message>
      </div>
      <div class="col-md-2">
        <label for="nascimento">Data de Nascimento</label>
        <div class="input-group mb-2">
          <input type="text" class="form-control" id="nascimento" name="nascimento" #nascimento="ngModel" ngModel
                 bsDatepicker #dp="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', locale: 'pt-br' }" placement="bottom">
            <div class="input-group-append">
              <button class="input-group-append btn btn-primary fa fa-calendar" (click)="dp.toggle()"></button>
          </div>
        </div>
      </div>
      <div class="form-group col-md-2">
        <label for="sexo">Sexo</label>
        <select id="sexo" class="form-control">
          <option selected>Selecione:</option>
          <option *ngFor="let sex of sexos">{{ sex.label }}</option>
        </select>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="pai">Nome do Pai</label>
        <input type="text" class="form-control" id="pai" #pai="ngModel" name="pai" ngModel>
      </div>
      <div class="form-group col-md-3">
        <label for="mae">Nome da Mãe</label>
        <input type="text" class="form-control" id="mae" #mae="ngModel" name="mae" ngModel>
      </div>
      <div class="form-group col-md-2">
        <label for="civil">Estado Civil</label>
        <select id="civil" class="form-control">
          <option selected>Selecione:</option>
          <option *ngFor="let c of estCivil">{{ c.label }}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="tpSocio">Tipo de Sócio</label>
        <select id="tpSocio" class="form-control">
          <option selected>Selecione:</option>
          <option *ngFor="let tp of tiposSocios">{{ tp.nome }}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="sec">Secretaria</label>
        <select id="sec" class="form-control">
          <option selected>Selecione:</option>
          <option *ngFor="let sec of secretarias">{{ sec.nome }}</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="obs">Observação</label>
        <textarea class="form-control" id="obs" rows="2" name="obs" #obs="ngModel" ngModel></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <tabset>
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-address-book"></i> Contato
            </ng-template>
            <div class="form-row">
              <div class="form-group col-md-12 mt-2">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email">
              </div>
            </div>
            <div class="form-row" ngModelGroup="endereco">
              <div class="form-group col-md-2">
                <label for="cep">CEP*</label>
                <input type="text" class="form-control" id="cep" mask="99.999-999"
                (blur)="consultaCep($event.target.value, clienteForm)" name="cep" #cep="ngModel" ngModel
                       required>
              </div>
              <div class="form-group col-md-6">
                <label for="logradouro">Logradouro*</label>
                <input type="text" class="form-control" id="logradouro" name="logradouro" #logradouro="ngModel" ngModel
                       required>
              </div>
              <div class="form-group col-md-2">
                <label for="end_numero">Número*</label>
                <input type="text" class="form-control" id="end_numero" name="numero" #numero="ngModel" ngModel
                       required>
              </div>
              <div class="form-group col-md-2">
                <label for="end_complemento">Complemento</label>
                <input type="text" class="form-control" id="end_complemento" name="complemento" #complemento="ngModel" ngModel>
              </div>
              <div class="form-group col-md-5">
                <label for="end_bairro">Bairro*</label>
                <input type="text" class="form-control" id="end_bairro" name="bairro" #bairro="ngModel" ngModel
                       required>
              </div>
              <div class="form-group col-md-5">
                <label for="end_cidade">Cidade*</label>
                <input type="text" class="form-control" id="end_cidade" name="cidade" #cidade="ngModel" ngModel
                       required>
              </div>
              <div class="form-group col-md-2">
                <label for="end_estado">Estado*</label>
                <input type="text" class="form-control" id="end_estado" name="estado" #estado="ngModel"
                       ngModel required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <a href="javascript:void(0)"  (click)="openModal(telefoneModal); prepararTelefone()"><i class="fa fa-plus"></i> Novo</a>
                <p-table [value]="cliente.telefones" [responsive]="true">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Telefone</th>
                      <th>Tipo</th>
                      <th style="width: 80px;"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-telefone let-rowIndex="rowIndex">
                    <tr>
                      <td>{{telefone.telefone}}</td>
                      <td>{{telefone.tipo}}</td>
                      <td>
                        <a href="javascript:void(0)" pTooltip="Editar" tooltipPosition="top">
                          <i class="fa fa-pencil" (click)="editarTelefone(telefone, rowIndex); openModal(telefoneModal)"></i></a>
                        <a href="javascript:void(0)" pTooltip="Excluir" tooltipPosition="top">
                          <i class="fa fa-trash" (click)="removerTelefone(rowIndex)"></i></a>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="3" class="text-table-left">
                        Nenhum telefone cadastrado.
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>

          </tab>
          <tab>
            <ng-template tabHeading>
              <i class="fa fa-credit-card"></i> Dados Bancários
            </ng-template>

          </tab>
          <tab>
            <ng-template tabHeading>
              <i class="fa fa-users"></i> Dependentes
            </ng-template>

          </tab>
        </tabset>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md">
        <button type="submit" class="btn btn-primary" [disabled]="clienteForm.invalid">Salvar</button>
      </div>
    </div>
  </form>
</div>

<ng-template #telefoneModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cadastro de Telefone</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formTelefone" (ngSubmit)="adicionarTelefone()">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="telefone">Telefone</label>
          <input type="text" class="form-control" id="telefone" formControlName="telefone" ngxPhoneMaskBr>
        </div>
        <div class="form-group col-md-12" >
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="tipo" id="principal" value="PRINCIPAL" formControlName="tipo">
            <label class="form-check-label" for="principal">Principal</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="tipo" id="contato" value="CONTATO" formControlName="tipo">
            <label class="form-check-label" for="contato">Contato</label>
          </div>
        </div>
      </div>
      {{formTelefone.value | json}}
      <button type="submit" class="btn btn-primary" [disabled]="formTelefone.invalid || formTelefone.pristine">Confirmar</button>
    </form>
  </div>
</ng-template>
