<app-header-lv2 heading="{{editando ? 'Edição' : 'Cadastro'}} de Agência"
linkAnterior="/diversos/agencia" headingAnterior="Agências"></app-header-lv2>

<div class="col-md">
  <form (ngSubmit)="salvar()" autocomplete="off" [formGroup]="formulario">

    <div class="form-row">
      <div class="col-md-2">
        <label for="numero">Número*</label>
        <input type="text" class="form-control" id="numero" formControlName="numero">
        <app-message [control]="formulario.get('numero')" error="required" text="Preencha este campo."></app-message>
      </div>
      <div class="col-md-1">
        <label for="digito">Dígito</label>
        <input type="text" class="form-control" id="digito" formControlName="digito">
      </div>
      <div class="col-md-3">
        <label for="tel">Telefone</label>
        <input type="text" class="form-control" id="tel" formControlName="telefone">
      </div>
      <div class="col-md-3">
        <label for="gerente">Gerente</label>
        <input type="text" class="form-control" id="gerente" formControlName="gerente">
      </div>
      <div class="col-md-3 form-group" formGroupName="banco">
        <label for="banco">Banco*</label>
        <select class="custom-select" id="banco" formControlName="id" [ngModel]="default">
          <option>{{default}}</option>
          <option [ngValue]="banco.id" *ngFor="let banco of bancos">{{banco.nome}}</option>
        </select>
      </div>
    </div>
    {{formulario.value | json}}
    <button class="btn btn-primary" type="submit" [disabled]="formulario.invalid || formulario.pristine">Salvar</button>
  </form>
</div>
