<app-header-lv2 heading="{{editando ? 'Edição' : 'Cadastro'}} de Agência"
linkAnterior="/diversos/agencia" headingAnterior="Agências"></app-header-lv2>

<div class="col-md">
  <form #f="ngForm" (ngSubmit)="salvar(f)" autocomplete="off">

    <div class="ui-g">

      <div class="ui-g-2 ui-fluid">
        <label>Número*</label>
        <input type="text" pInputText pKeyFilter="int" required name="numero" #numero="ngModel"
               [(ngModel)]="agencia.numero">
        <app-message [control]="numero" error="required" text="Preencha este campo."></app-message>
      </div>

      <div class="ui-g-1 ui-fluid">
        <label>Dígito</label>
        <input type="text" pInputText name="digito" [(ngModel)]="agencia.digito">
      </div>

      <div class="ui-g-3 ui-fluid">
        <label>Telefone</label>
        <p-inputMask name="telefone" mask="(99) 9999?9-9999" [(ngModel)]="agencia.telefone">
        </p-inputMask>
      </div>

      <div class="ui-g-3 ui-fluid">
        <label>Gerente</label>
        <input type="text" pInputText name="gerente" [(ngModel)]="agencia.gerente">
      </div>

      <div class="ui-g-3 ui-fluid">
        <label>Banco*</label>
       <p-dropdown [options]="bancos" [autoWidth]="false" placeholder="Selecione" name="banco" required
       [(ngModel)]="agencia.banco"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" [disabled]="f.invalid || f.pristine" label="Salvar"></button>
    </div>
  </form>
</div>
