<app-header-lv2 heading="Cadastro de Operadora" linkAnterior="/diversos/operadora" headingAnterior="Operadoras"></app-header-lv2>
  <div class="col-md">
    <form #operadoraForm="ngForm" (ngSubmit)="salvar(operadoraForm)" autocomplete="off">

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="nome">Nome*</label>
          <input type="text" class="form-control" id="nome" required name="nome" #nome="ngModel" ngModel>
          <app-message [control]="nome" error="required" text="Preencha este campo."></app-message>
        </div>
      </div>
      <div class="custom-file mb-3">
        <input type="file" class="custom-file-input" id="imagem">
        <label class="custom-file-label" for="imagem">Escolha o arquivo</label>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="operadoraForm.invalid">Salvar</button>
    </form>
  </div>
