<app-header-lv1 heading="Fornecedores"></app-header-lv1>
<app-button link="/instancias/fornecedor/novo"></app-button>
  <div class="col-md">
    <p-table [value]="fornecedores" [paginator]="true" [responsive]="true" [rows]="10" [rowsPerPageOptions]="[10, 20]">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-table-left">Nome Fantasia</th>
          <th style="width: 250px">Telefone</th>
          <th style="width: 250px">Pessoa de Contato</th>
          <th style="width: 80px"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-fornecedor >
        <tr>
          <td class="text-table-left">{{fornecedor.fantasia | uppercase}}</td>
          <td>{{fornecedor.telefone}}</td>
          <td>{{fornecedor.contato | uppercase}}</td>
          <td>
            <a href="javascript:void(0)" pTooltip="Editar" tooltipPosition="top"
            [routerLink]="['/instancias/fornecedor/editar', fornecedor.id]"><i class="fa fa-pencil"></i></a>
            <a href="javascript:void(0)" pTooltip="Detalhes" tooltipPosition="top"
            (click)="mostrarDetalhe(fornecedor.id); modalDetalhe.show()"><i class="fa fa-eye"></i></a>
            <a href="javascript:void(0)" pTooltip="Excluir" tooltipPosition="top"
            (click)="openModal(modal, fornecedor.id)"><i class="fa fa-trash"></i></a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="4" class="text-table-left">
            Nenhum registro encontrado.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

<ng-template #modal>
  <div class="modal-body text-center">
    <p>Deseja realmente excluir o registro?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>

<div bsModal #modalDetalhe="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">{{fornecedor.fantasia | uppercase}}</h5>
        <button type="button" class="close pull-right" (click)="modalDetalhe.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <label>Razão Social</label>
            <p>{{fornecedor.razao | uppercase}}</p>
          </div>
          <div class="col-md-3">
            <label>CNPJ</label>
            <p>{{fornecedor.cnpj | cnpj}}</p>
          </div>
          <div class="col-md-5">
            <label>E-mail</label>
            <p>{{fornecedor.email | lowercase}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Pessoa de Contato</label>
            <p>{{fornecedor.contato | uppercase}}</p>
          </div>
          <div class="col-md-3">
            <label>Telefone</label>
            <p>{{fornecedor.telefone}}</p>
          </div>
          <div class="col-md-5">
            <label>Data de Cadastro</label>
            <p>{{fornecedor.cadastro | date: 'dd/MM/yyyy'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


